.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.25;
    z-index: -1;
    pointer-events: none;
    background: url(img/noise.gif);

}

@font-face {
    font-family: 'helveticaneuebold';
    src: url('helveticaneue_bold-webfont.eot');
    src: url('helveticaneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue_bold-webfont.woff2') format('woff2'),
         url('helveticaneue_bold-webfont.woff') format('woff'),
         url('font/HelveticaNeue Bold.ttf') format('truetype'),
         url('helveticaneue_bold-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 95vh;
    background: black;
    font-family: 'helveticaneuebold';
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

p{
    font-size:medium;
    margin: 0;
}

.nohigh {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.nohigh::selection {
    background: transparent;
}

.main{
    display: flex;
    flex: 1;
}

.left{
    padding: 3em 0 3em 0;
    flex: 1 1 33%;
}

main{
    padding: 3em 0 3em 0;
    flex: 5 5 66%;
}

.right{
    padding: 3em 0 3em 0;
    flex: 1 1 33%;
}

footer{
    padding: 1em 0 1em 0;
}

.signature{ 
    padding: 0 20% 0 20%;
}

.project{
    width: 10em;
}

.animated-logo{
    width: 30em;
}

.graph{
    width: 50%;
}

.switch{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 40px;
    margin: 0 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(148, 148, 148);
    transition: .4s;
    border-radius: 34px;
}

.switch input {display:none}

.slider:before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: #82B021;
}

input:checked + .slider:before{
    transform: translateX(30px);
}

@media all and (max-width: 700px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 0 1em 0 1em;
    }
    .animated-logo{
        width: 100%;
    }
    .graph{
        width: 100%;
    }
}